{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "babel-plugin-root-import",
    "syntax-async-functions"
  ]
}